@media (max-width: 1200px)
   .container
      max-width: 945px
   .main
      &__text
         max-width: 565px
   .recomendation
      padding-bottom: 60px
      &__wrapper
         flex-direction: column
         &-more
            display: flex
            flex-direction: column
            align-items: flex-start
         &-top
            width: 748px
      &__cards
         justify-content: flex-start
         margin-bottom: 30px
      &__card
         &:nth-child(2n)
            margin-right: 0
      &__button
         &-more
            margin-bottom: 30px
      &__boxes
         display: flex
         flex-wrap: wrap
@media (max-width: 992px)
   .container
      max-width: 730px
   .header
      padding: 0 0 10px
   .main
      &__text
         max-width: 540px
      &__buttons
         display: flex
         flex-direction: column
         align-items: flex-start
      &__button
         &-buy
            max-width: 235px
            font-size: 18px
            margin: 0 0 10px
         &-read
            max-width: 235px
   .recomendation
      &__card
         margin: 0 19px 27px 0
      &__button
         &-more
            padding: 25px 274px
@media (max-width: 768px)
   .container
      max-width: 548px
   .header
      &-mobile
         &-fixed
            position: fixed
            top: 0
            left: 0
            right: 0
            z-index: 99
         &-menu
            display: flex
      &__navbar
         display: none
         position: fixed
         left: 0
         right: 0
         bottom: 0
         top: 68px
         background-color: #fff
         &-visible
            display: flex
            flex-direction: column
            align-items: center
      &__menu
         margin-left: 0
         &-list
            flex-direction: column
            justify-content: center
            width: auto
         &-item
            margin-bottom: 20px
      &__button
         margin-left: 0
   .menu
      &-button
         width: 22px
         height: 18px
         display: flex
         align-items: center
         justify-content: space-between
         flex-direction: column
         border: none
         background-color: #fff
         cursor: pointer
         &__line
            width: 22px
            height: 2.2px
            background-color: #3A4C66
   .main
      padding-top: 70px
      &__wrapper
         flex-direction: column
      &__buttons
         flex-direction: row
      &__button
         &-buy
            margin-bottom: 0
            margin-right: 15px
   .recomendation
      &__button
         &-more 
            padding: 25px 183px
      &__card
         &:not(:first-child)
            display: none

@media (max-width: 576px)
   .container
      max-width: 84vw
   .main
      &__cover
         width: 400px
         height: 530px
      &__text
         max-width: 415px
      &__buttons
         flex-direction: column
         align-items: center
      &__button
         &-buy
            margin: 0 0 10px
@media (min-width: 320px) and (max-width: 480px)
   .container
      max-width: 86vw
   .header
      padding: 0
      &__wrapper
         padding: 20px 0
   .main
      padding-top: 100px
      padding-bottom: 56px
      &__info
         padding-top: 0
         padding-bottom: 35px
      &__title
         max-width: inherit
         min-height: 160px
         font-family: Roboto Condensed
         font-style: normal
         font-weight: bold
         font-size: 32px
         line-height: 40px
         text-align: center
         margin-bottom: 24px
      &__subtitle
         max-width: inherit
         font-weight: normal
         font-size: 16px
         text-align: center
         margin-bottom: 33px
      &__text
         font-style: normal
         font-weight: normal
         font-size: 16px
         line-height: 23px
         text-align: center
         margin-bottom: 16px
      &__button
         &-buy
            max-width: 176px
            min-height: 40px
            font-size: 16px
            padding: 7px 18px
            margin-bottom: 15px
         &-read
            max-width: 176px
            min-height: 40px
            font-size: 16px
            padding: 5px 27px
      &__cover
         width: 280px
         height: 333px
         &-image
            width: 143px
            height: 215px